[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2023.5.7"
cffi = "==1.15.1"
distlib = "==0.3.7"
filelock = "==3.12.2"
numpy = "==1.25.1"
platformdirs = "==3.9.1"
pycparser = "==2.21"
tcod = "==16.1.1"
typing-extensions = "==4.7.1"
virtualenv = "==20.24.1"
virtualenv-clone = "==0.5.7"
esper = "*"

[dev-packages]

[requires]
python_version = "3.11"
